.statContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;


}

form {
    font-size: 0.875rem;
    /* 14px smaller text */
    line-height: 1.25rem;
}

input,
label,
button,
textarea {
    font-size: 0.875rem;
}